@using Swsu.Test.Asp.Models
@model IEnumerable<Guitar>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h3 align="center">Купи гитару, а то печень вырежу</h3>
    <div class='shop'>
        @foreach (var b in Model)
        {
            <div class="shop-item">
                <p>@Html.DisplayFor(item => b.Producer)</p>
                @Html.DisplayFor(item => b.Model)
                @Html.DisplayFor(item => b.Price)
                @Html.DisplayFor(item => b.IsInStore)
                <button class="buy-btn">@Html.ActionLink("Купить", "Purchase", "Catalog", new { id = b.Id }, null)</button>
            </div>
        }
    </div>
</div>
<div class="control-buttons">
    <p>@Html.ActionLink("Пред.", "Index", "Catalog", new { page = ViewBag.Page - 2 }, null)</p>
    <p>@ViewBag.Page</p>
    <p>@Html.ActionLink("След.", "Index", "Catalog", new { page = ViewBag.Page }, null)</p>
</div>
