@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h3 align="center">Купи гитару, а то печень вырежу</h3>
    <div class='shop'>
        @foreach (var b in ViewBag.Guitars)
        {
            <div class="shop-item">
                <p class="producer">@b.Producer</p>
                <p class="model">@b.Model</p>
                <input class="price" value="@b.Price">
                <button class="buy-btn">@Html.ActionLink("Купить", "Purchase", "Catalog", new { id = b.Id }, null)</button>
            </div>
        }
    </div>
</div>
<div class="control-buttons">
    <p>@Html.ActionLink("Пред.", "Index", "Catalog", new { page = ViewBag.Page - 2 }, null)</p>
    <p>@ViewBag.Page</p>
    <p>@Html.ActionLink("След.", "Index", "Catalog", new { page = ViewBag.Page }, null)</p>
</div>
